.card{
    border: 4px solid rgb(75, 209, 226);
    border-radius: 8px;
    border-width: 10px;
    height : 500px;
    font-size : 1em;
    background-color:#bbc6ca;
    border-style: outset;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
 
img{
  height: 60%;
}
